.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.image-container {
  min-width: 30%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background: #fff;
  margin-top: 1.45rem;
  margin-bottom: 1.45rem;
  text-align: center;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 0.75rem;
  max-width: 88%;
  font-family: "Open Sans";
  padding: 2rem 1rem 0.25rem 1rem;
  align-items: center;
  align-self: center;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 50%;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

button {
  border-radius: 50px;
}

a.button {
  text-decoration: none;
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  width: 100%;
}

.btnBlueGreen {
  background: #000000;
}

/* FADE */
.btnFade.btnBlueGreen:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
